body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;

}

.header_area{
    background-color: #3c5999;
    padding:10px 0;
}

.logo{
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.logo .logo_area{
    margin-top: 10px;
}
.logo img{
    width: 150px;
    height: 35px;

}
.menu_site{
    width: 70%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.login_area form{
    overflow: hidden;
}
.menu_site .w_45{
    width: 40%;
    float: left;
    box-sizing: border-box;
}

.menu_site .w_10{
    width: 20%;
    float: left;
    box-sizing: border-box;
}
.header_area .menu_site .login_area{
    float: right;

}

.w_45 label{
    color: #ffffff;
}

.w_45 a{
    text-decoration: none;
    color: #ffffff;
    
}
 .w_10 .loginbtn{
     margin-top: 18px;
 }

 .w_10 input{
     background:#4368b1;
     border:1px solid #365595 ;
     color: #ffffff;
     padding: 5px;
     border-radius: 5px;
 }
.menu_site .login_area input{
    margin: 5px 0;
}

/*-------------complete of header area-----------*/


.main_body{
    background: linear-gradient(#fcfdfd, #d5dbe9);
    padding: 30px 0;
}


.main_body .Left_site{
    width: 50%;
    float: left;
    box-sizing: border-box;
    
    
}







.main_body .fb_help{
    margin: 0;
    
}

.main_body .fb_help h4{
    line-height: 25px;
    color: #3d5d3d;
}

.main_body .connect_people img{
    margin: 5px 0 0 10px;
    width: 300px;
    height: 150px;

}


/*-------left side end-----*/


.main_body .right_site{
    width: 50%;
    float: left;
    box-sizing: border-box;

}

 .right_site .regiAccount h1{
    font-size: 30px;
    margin-top: 0;
    color: #443f3e;
   
}

 .right_site .regiAccount h4{
    font-size: 16px;
    margin-top: 0;
    color: #443f3e;
   
}

.right_site .regiform{
    margin-top: 25px;
}

.right_site .regiform input[type="text"],
.right_site .regiform input[type="email"],
.right_site .regiform input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #e0e5ed;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}


.right_site .regiform .first-Last-name{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    
}

.right_site .regiform .first-Last-name .L-site{
    width: 50%;
    float: left;
    box-sizing: border-box;
    outline: none;
}

.right_site .regiform .first-Last-name .R-site{
    width: 50%;
    float: left;
    box-sizing: border-box;
    outline: none;
}

.right_site .regiform .birth-form p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #717074;
}
.birthdate{
    
    overflow: hidden;
    margin-bottom: 10px;
}
.birthdate select{
    
    padding: 5px 0 5px 0;
    border-radius: 10px;
    border: 2px solid #dce0ed;
    font-size: 12px;
}

.birthdate .birth-date-list{
    float: left;
}

.birthdate .provide-dob{
    
    float: left;
    overflow: hidden;
    margin-left: 10px;
}

 .birthdate .provide-dob a{
    font-size: 14px;
    text-decoration: none;
    color: #6484ac;
}


.gender{
    font-weight: bold;
}

.regiform .terms{
    font-size: 14px;
    color: #7979ee;
}

.regiform .terms a{
    text-decoration: none;
    
}

.regiform input[type="submit"]{
    padding: 12px 25px;
    background: linear-gradient(#77af65, #568941);
    border-radius:6px;
    color: #ffffff;
    border: 1px solid #77af65;
    font-size: 20px;
}


.create-page p{
    font-size: 20px;
    color: #7979ee;
}